window {
  margin: 0px;
  border: 2px solid #32302f;
  background-color: #1d2021;
  border-radius: 4px;
  font-family: monospace;
  font-size: 14px;
  color: #d4be98;
}

#input {
  margin: 4px;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  color: #d4be98;
  background-color: #1d2021;
  caret-color: #d8a657;
}

#input:focus {
  box-shadow: 0 0 0 2px #89b482;
}

#inner-box,
#outer-box {
  margin: 4px;
  border: none;
  background-color: #1d2021;
  border-radius: 4px;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 4px;
  border: none;
  color: #d4be98;
}

#entry:selected {
  background-color: #3c3836;
  color: #1d2021;
  border-radius: 4px;
}

#entry:hover {
  background-color: #32302f;
  color: #ddc7a1;
  border-radius: 4px;
}

#input:disabled,
#input:empty {
  color: #928374;
}
