.config/systemd/user/default.target.wants/

.config/fish/fish_variables
.config/fish/completions/*
.config/fish/conf.d/*
.config/fish/functions/*
.config/fish/themes/*
!.config/fish/completions/bun.fish
!.config/fish/conf.d/colors.fish
!.config/fish/conf.d/zellij_tab_name.fish
!.config/fish/conf.d/zjstatus_pipe_git.fish
!.config/fish/functions/nvm_autoload.fish

.local/share/*
!.local/share/applications/*
!.local/share/wallpapers/*
!.local/share/wayland-sessions/*

.local/state/*
