themes {
    gruvbox {
        text_unselected {
            base 203 190 154
            background 28 27 26
            emphasis_0 202 130 84
            emphasis_1 120 156 142
            emphasis_2 190 168 94
            emphasis_3 194 130 146
        }
        text_selected {
            base 203 190 154
            background 40 38 36
            emphasis_0 202 130 84
            emphasis_1 120 156 142
            emphasis_2 190 168 94
            emphasis_3 194 130 146
        }
        ribbon_unselected {
            base 40 38 36
            background 52 48 45
            emphasis_0 202 130 84
            emphasis_1 203 190 154
            emphasis_2 118 152 158
            emphasis_3 194 130 146
        }
        ribbon_selected {
            base 28 27 26
            background 150 164 120
            emphasis_0 202 130 84
            emphasis_1 190 168 94
            emphasis_2 194 130 146
            emphasis_3 120 156 142
        }
        table_title {
            base 190 168 94
            background 0
            emphasis_0 202 130 84
            emphasis_1 120 156 142
            emphasis_2 190 168 94
            emphasis_3 194 130 146
        }
        table_cell_unselected {
            base 203 190 154
            background 28 27 26
            emphasis_0 202 130 84
            emphasis_1 120 156 142
            emphasis_2 190 168 94
            emphasis_3 194 130 146
        }
        table_cell_selected {
            base 203 190 154
            background 40 38 36
            emphasis_0 202 130 84
            emphasis_1 120 156 142
            emphasis_2 190 168 94
            emphasis_3 194 130 146
        }
        list_unselected {
            base 203 190 154
            background 28 27 26
            emphasis_0 202 130 84
            emphasis_1 120 156 142
            emphasis_2 190 168 94
            emphasis_3 194 130 146
        }
        list_selected {
            base 203 190 154
            background 40 38 36
            emphasis_0 202 130 84
            emphasis_1 120 156 142
            emphasis_2 190 168 94
            emphasis_3 194 130 146
        }
        frame_unselected {
            base 52 48 45
            background 0
            emphasis_0 0
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        frame_selected {
            base 150 164 120
            background 0
            emphasis_0 202 130 84
            emphasis_1 118 152 158
            emphasis_2 194 130 146
            emphasis_3 0
        }
        frame_highlight {
            base 202 130 84
            background 0
            emphasis_0 194 130 146
            emphasis_1 202 130 84
            emphasis_2 202 130 84
            emphasis_3 202 130 84
        }
        exit_code_success {
            base 150 164 120
            background 0
            emphasis_0 120 156 142
            emphasis_1 40 38 36
            emphasis_2 194 130 146
            emphasis_3 118 152 158
        }
        exit_code_error {
            base 195 90 84
            background 0
            emphasis_0 203 190 154
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 194 130 146
            player_2 120 156 142
            player_3 118 152 158
            player_4 203 190 154
            player_5 150 164 120
            player_6 202 130 84
            player_7 195 90 84
            player_8 190 168 94
            player_9 0
            player_10 0
        }
    }
}
