binds {
  // ─── Supports ───
  MOD+SHIFT+ESCAPE                    { show-hotkey-overlay; }
  MOD+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // ─── DMENU ───
  MOD+SPACE                           hotkey-overlay-title="Open App Launcher" { spawn-sh "fuzzel-applauncher"; }
  MOD+C                               hotkey-overlay-title="Open Clipboard List" { spawn-sh "fuzzel-clipboard"; }
  MOD+E                               hotkey-overlay-title="Open File Picker" { spawn-sh "fuzzel-filepicker"; }
  MOD+N                               hotkey-overlay-title="Open Notification List" { spawn-sh "fuzzel-notifications"; }
  MOD+DELETE                          hotkey-overlay-title="Open Power Menu" { spawn-sh "fuzzel-powermenu"; }
  MOD+TAB                             hotkey-overlay-title="Open Window Switcher" { spawn-sh "fuzzel-windows"; }

  // ─── Applications ───
  MOD+T                               hotkey-overlay-title="Open Terminal" { spawn-sh "$TERMINAL"; }
  MOD+W                               hotkey-overlay-title="Open Browser" { spawn-sh "$BROWSER"; }
  MOD+SHIFT+E                         hotkey-overlay-title="Open File Manager" { spawn-sh "$FILE_MANAGER"; }
  MOD+B                               hotkey-overlay-title="Toggle Waybar" { spawn-sh "waybar-toggle"; }
  MOD+O                               hotkey-overlay-title="Restart Waybar" { spawn-sh "waybar-restart"; }
  MOD+SHIFT+B                         hotkey-overlay-title="Peek Waybar" { spawn-sh "waybar-peek"; }
  MOD+I                               hotkey-overlay-title="Toggle Idle Inhibitor" { spawn "~/.local/bin/idle-inhibitor" "toggle"; }

  // ─── Audio Controls ───
  XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "osd-notify volume-up"; }
  XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "osd-notify volume-down"; }
  XF86AudioMute                       allow-when-locked=true { spawn-sh "osd-notify volume-mute"; }
  XF86AudioMicMute                    allow-when-locked=true { spawn-sh "osd-notify mic-mute"; }
  XF86AudioNext                       allow-when-locked=true { spawn-sh "playerctl next"; }
  XF86AudioPause                      allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioPlay                       allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioPrev                       allow-when-locked=true { spawn-sh "playerctl previous"; }

  // ─── Screen Brightness ───
  XF86MonBrightnessUp                 { spawn-sh "osd-notify brightness-up"; }
  XF86MonBrightnessDown               { spawn-sh "osd-notify brightness-down"; }

  // ─── Window Movement and Focus ───
  MOD+Q                               { close-window; }
  MOD+LEFT                            { focus-column-left; }
  MOD+H                               { focus-column-left; }
  MOD+RIGHT                           { focus-column-right; }
  MOD+L                               { focus-column-right; }
  MOD+CTRL+LEFT                       { move-column-left; }
  MOD+CTRL+H                          { move-column-left; }
  MOD+CTRL+RIGHT                      { move-column-right; }
  MOD+CTRL+L                          { move-column-right; }
  MOD+HOME                            { focus-column-first; }
  MOD+END                             { focus-column-last; }
  MOD+CTRL+HOME                       { move-column-to-first; }
  MOD+CTRL+END                        { move-column-to-last; }
  MOD+SHIFT+LEFT                      { focus-monitor-left; }
  MOD+SHIFT+RIGHT                     { focus-monitor-right; }
  MOD+SHIFT+UP                        { focus-monitor-up; }
  MOD+SHIFT+DOWN                      { focus-monitor-down; }
  MOD+SHIFT+CTRL+LEFT                 { move-column-to-monitor-left; }
  MOD+SHIFT+CTRL+RIGHT                { move-column-to-monitor-right; }
  MOD+SHIFT+CTRL+UP                   { move-column-to-monitor-up; }
  MOD+SHIFT+CTRL+DOWN                 { move-column-to-monitor-down; }

  // ─── Workspace Switching ───
  MOD+WHEELSCROLLDOWN                 cooldown-ms=150 { focus-workspace-down; }
  MOD+WHEELSCROLLUP                   cooldown-ms=150 { focus-workspace-up; }
  MOD+CTRL+WHEELSCROLLDOWN            cooldown-ms=150 { move-column-to-workspace-down; }
  MOD+CTRL+WHEELSCROLLUP              cooldown-ms=150 { move-column-to-workspace-up; }
  MOD+WHEELSCROLLRIGHT                { focus-column-right; }
  MOD+WHEELSCROLLLEFT                 { focus-column-left; }
  MOD+CTRL+WHEELSCROLLRIGHT           { move-column-right; }
  MOD+CTRL+WHEELSCROLLLEFT            { move-column-left; }
  MOD+SHIFT+WHEELSCROLLDOWN           { focus-column-right; }
  MOD+SHIFT+WHEELSCROLLUP             { focus-column-left; }
  MOD+CTRL+SHIFT+WHEELSCROLLDOWN      { move-column-right; }
  MOD+CTRL+SHIFT+WHEELSCROLLUP        { move-column-left; }
  MOD+1                               { focus-workspace 1; }
  MOD+2                               { focus-workspace 2; }
  MOD+3                               { focus-workspace 3; }
  MOD+4                               { focus-workspace 4; }
  MOD+5                               { focus-workspace 5; }
  MOD+6                               { focus-workspace 6; }
  MOD+7                               { focus-workspace 7; }
  MOD+8                               { focus-workspace 8; }
  MOD+9                               { focus-workspace 9; }
  MOD+CTRL+1                          { move-column-to-workspace 1; }
  MOD+CTRL+2                          { move-column-to-workspace 2; }
  MOD+CTRL+3                          { move-column-to-workspace 3; }
  MOD+CTRL+4                          { move-column-to-workspace 4; }
  MOD+CTRL+5                          { move-column-to-workspace 5; }
  MOD+CTRL+6                          { move-column-to-workspace 6; }
  MOD+CTRL+7                          { move-column-to-workspace 7; }
  MOD+CTRL+8                          { move-column-to-workspace 8; }
  MOD+CTRL+9                          { move-column-to-workspace 9; }
  MOD+UP                              { focus-workspace-up; }
  MOD+K                               { focus-workspace-up ;}
  MOD+DOWN                            { focus-workspace-down; }
  MOD+J                               { focus-workspace-down; }
  MOD+CTRL+UP                         { move-column-to-workspace-up; }
  MOD+CTRL+K                          { move-column-to-workspace-up; }
  MOD+CTRL+DOWN                       { move-column-to-workspace-down; }
  MOD+CTRL+J                          { move-column-to-workspace-down; }

  // ─── Layout Controls ───
  MOD+RETURN                          { maximize-column; }
  MOD+CTRL+F                          { expand-column-to-available-width; }
  MOD+SHIFT+C                         { center-column; }
  MOD+CTRL+C                          { center-visible-columns; }
  MOD+MINUS                           { set-column-width "-10%"; }
  MOD+EQUAL                           { set-column-width "+10%"; }
  MOD+SHIFT+MINUS                     { set-window-height "-10%"; }
  MOD+SHIFT+EQUAL                     { set-window-height "+10%"; }

  // ─── Modes ───
  MOD+V                               { toggle-window-floating; }
  MOD+F                               { fullscreen-window; }
  MOD+SHIFT+O                         repeat=false { toggle-overview; }

  // ─── Screenshots ───
  CTRL+SHIFT+1                        { screenshot; }
  CTRL+SHIFT+2                        { screenshot-screen; }
  CTRL+SHIFT+3                        { screenshot-window; }

  // ─── Exit / Power ───
  CTRL+ALT+DELETE                     { quit; }
}
