spawn-sh-at-startup "fcitx5 -d &"
spawn-sh-at-startup "mako &"
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &"
spawn-sh-at-startup "wl-paste --watch cliphist store &"
spawn-sh-at-startup "nm-applet --indicator &"
spawn-sh-at-startup "idlehandler &"
spawn-sh-at-startup "waybar &"
spawn-sh-at-startup "wallpaper-init &"

prefer-no-csd
screenshot-path "~/Pictures/screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
