session_name "dnc-local"
attach_to_session true

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }
        children
    }

    // ────────────── Tab 1: core-api ──────────────
    tab name="core-api" {
        pane split_direction="vertical" {
          pane size="70%" {
              cwd "~/www/duanaga/core-api"
              command "nvim"
          }
          pane size="30%" {
            cwd "~/www/duanaga/core-api"
          }
        }
    }

    // ────────────── Tab 2: dragon-bridge ──────────────
    tab name="dragon-bridge" {
        pane split_direction="vertical" {
          pane size="70%" {
              cwd "~/www/duanaga/dragon-bridge"
              command "nvim"
          }
          pane size="30%" {
            cwd "~/www/duanaga/dragon-bridge"
          }
        }
    }

    // ────────────── Tab 3: Others ──────────────
    tab name="others" {
        pane {
            cwd "~/www/duanaga"
        }
    }

    // ────────────── Tab 4: PostgreSQL CLI ──────────────
    tab name="pgcli" {
      pane split_direction="vertical" {
        pane {
            cwd "~/www/duanaga/core-api"
            command "pgcli"
            args "-u" "postgres" "-d" "dnc"
        }
      }
    }

    // ────────────── Tab 5: Background Jobs ──────────────
    tab name="background-jobs" {
        pane split_direction="horizontal" {
          pane {
              cwd "~/www/duanaga/core-api"
              command "php"
              args "artisan" "horizon"
          }
          pane {
            cwd "~/www/duanaga/dragon-bridge"
            command "npm"
            args "run" "dev" "--" "--host=127.0.0.1"
          }
        }
    }
}

