layout {
    // Session name
    name "dnc-local"

    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    // ────────────── Tab 1: Background Jobs ──────────────
    tab name="background-jobs" {
        pane split_direction="vertical" {
          pane {
              cwd "~/www/duanaga/core-api"
              command "php"
              args "artisan" "horizon"
          }
          pane {
              cwd "~/www/duanaga/dragon-bridge"
              command "npm"
              args "run" "dev"
          }
        }
    }

    // ────────────── Tab 2: PostgreSQL CLI ──────────────
    tab name="pgcli" {
        pane {
            cwd "~/www/duanaga/core-api"
            command "pgcli"
            args "-u" "postgres" "-d" "dnc"
        }
    }

    // ────────────── Tab 3: core-api ──────────────
    tab name="core-api" {
        pane {
            cwd "~/www/duanaga/core-api"
            command "fish"
        }
    }

    // ────────────── Tab 4: dragon-bridge ──────────────
    tab name="dragon-bridge" {
        pane {
            cwd "~/www/duanaga/dragon-bridge"
            command "fish"
        }
    }
}

