@define-color bg-primary #1d2021;
@define-color bg-secondary #32302f;

@define-color fg-primary #d4be98;
@define-color fg-muted #928374;

@define-color accent-blue #7daea3;
@define-color accent-red #ea6962;
@define-color accent-green #a9b665;
@define-color accent-yellow #d8a657;
@define-color accent-purple #d3869b;
