@import url("/home/zlnew/.config/colors/current-waybar.css");

* {
  font-family: "sans";
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 0;
}

#waybar {
  background-color: @bg;
  color: @fg;
  border-radius: 0;
  margin: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  min-width: 0;
  padding: 0 10px 0 10px;
  margin: 0 4px 0 4px;
  color: @fg;
  opacity: 0.5;
  background-color: transparent;
}

#workspaces button.active {
  color: @green;
  opacity: 1;
}

#workspaces button:hover {
  background: transparent;
}

#workspaces button.urgent {
  color: @red;
  opacity: 1;
}

#window {
  margin-left: 8px;
  font-weight: 800;
  color: @fg;
}

#tray {
  opacity: 0.8;
}

/* Common modules styling */
#mpris,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#bluetooth,
#tray,
#custom-media,
#custom-power,
#custom-storage,
#custom-spotify,
#custom-idle_inhibitor,
#custom-weather,
#custom-screenshot_t,
#custom-hyprPicker,
#custom-launcher {
  border-radius: 4px;
  padding: 6px;
  color: @fg;
}

/* Specific color overrides */
#cpu {
  color: @red;
}
#memory {
  color: @green;
}
#clock {
  color: @blue;
}
#pulseaudio {
  color: @aqua;
}
#battery {
  color: @fg;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: @green;
}

#battery.critical:not(.charging) {
  color: @red;
  animation: blink 0.5s linear infinite alternate;
}

#temperature {
  color: @blue;
}
#temperature.critical {
  color: @red;
}

#bluetooth {
  color: @purple;
}
#bluetooth.disconnected {
  color: @red;
}

#custom-idle_inhibitor.inhibited {
  color: @yellow;
}

#custom-idle_inhibitor.warning {
  color: @red;
}

#custom-launcher {
  background-color: @bg1;
  color: @blue;
  border-radius: 4px;
  padding: 3px 6px;
}

@keyframes blink {
  to {
    background-color: rgba(60, 56, 54, 0.5);
    color: @fg1;
  }
}

.modules-left {
  padding-left: 8px;
}
.modules-right {
  padding-right: 8px
}
