[Unit]
Description=Set Battery Charge Limit
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo 60 > /sys/class/power_supply/BAT0/charge_control_end_threshold'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
