[Desktop Entry]
Name=ChatGPT Committer
Exec=webapp-chatgpt-committer
Icon=chatgpt-committer
Type=Application
StartupNotify=false
Terminal=false
Categories=;Chat;AI;Autocompletion;
