[Desktop Entry]
Name=DNC Logbook
Exec=webapp-dnclogbook
Icon=dnc-logbook
Type=Application
StartupNotify=false
Terminal=false
Categories=;Report;Daily;Log;
