[Unit]
Description=Battery Charge Limit Service

[Service]
Type=oneshot
EnvironmentFile=/etc/battery-limit.conf
ExecStart=/usr/bin/bash -c 'echo $BATTERY_LIMIT > /sys/class/power_supply/BAT0/charge_control_end_threshold'

[Install]
WantedBy=multi-user.target

